Scrapy_env
.DS_Store
product_scraper/.DS_Store
product_scraper/product_scraper/.DS_Store
product_scraper/product_scraper/__pycache__/items.cpython-37.pyc
product_scraper/product_scraper/spiders/__pycache__/ecom_spider.cpython-37.pyc
product_scraper/product_scraper/spiders/demofile2.txt
product_scraper/product_scraper/spiders/geckodriver.log
product_scraper/product_scraper/spiders/product.json
product_scraper/product_scraper/spiders/product.json
product_scraper/product_scraper/spiders/FreeSans/readme.txt
product_scraper/product_scraper/spiders/FreeSans/FreeSans.ttf
product_scraper/product_scraper/spiders/FreeSans.ttf
product_scraper/product_scraper/spiders/font-colors.pdf
product_scraper/product_scraper/spiders/__pycache__/ecom_spider.cpython-37.pyc
product_scraper/product_scraper/spiders/__pycache__/canvas.cpython-37.pyc
product_scraper/product_scraper/__pycache__/items.cpython-37.pyc
product_scraper/product_scraper/.DS_Store
product_scraper/.DS_Store
FreeSansBold.ttf
FreeSans.ttf
font-colors.pdf
demofile2.txt
.DS_Store
product_scraper/.DS_Store
product_scraper/product_scraper/.DS_Store
product_scraper/product_scraper/__pycache__/items.cpython-37.pyc
product_scraper/product_scraper/spiders/__pycache__/ecom_spider.cpython-37.pyc
product_scraper/product_scraper/spiders/product.json
scrapy_env/lib/python3.7/site-packages/idna-3.2.dist-info/INSTALLER
scrapy_env/lib/python3.7/site-packages/idna-3.2.dist-info/LICENSE.md
scrapy_env/lib/python3.7/site-packages/idna-3.2.dist-info/METADATA
scrapy_env/lib/python3.7/site-packages/idna-3.2.dist-info/RECORD
scrapy_env/lib/python3.7/site-packages/idna-3.2.dist-info/top_level.txt
scrapy_env/lib/python3.7/site-packages/idna-3.2.dist-info/WHEEL
scrapy_env/lib/python3.7/site-packages/idna/__init__.py
scrapy_env/lib/python3.7/site-packages/idna/__pycache__/__init__.cpython-37.pyc
scrapy_env/lib/python3.7/site-packages/idna/__pycache__/codec.cpython-37.pyc
scrapy_env/lib/python3.7/site-packages/idna/__pycache__/compat.cpython-37.pyc
scrapy_env/lib/python3.7/site-packages/idna/__pycache__/core.cpython-37.pyc
scrapy_env/lib/python3.7/site-packages/idna/__pycache__/idnadata.cpython-37.pyc
scrapy_env/lib/python3.7/site-packages/idna/__pycache__/intranges.cpython-37.pyc
scrapy_env/lib/python3.7/site-packages/idna/__pycache__/package_data.cpython-37.pyc
scrapy_env/lib/python3.7/site-packages/idna/__pycache__/uts46data.cpython-37.pyc
scrapy_env/lib/python3.7/site-packages/idna/codec.py
scrapy_env/lib/python3.7/site-packages/idna/compat.py
scrapy_env/lib/python3.7/site-packages/idna/core.py
scrapy_env/lib/python3.7/site-packages/idna/idnadata.py
scrapy_env/lib/python3.7/site-packages/idna/intranges.py
scrapy_env/lib/python3.7/site-packages/idna/package_data.py
scrapy_env/lib/python3.7/site-packages/idna/py.typed
scrapy_env/lib/python3.7/site-packages/idna/uts46data.py
/scrapy_env/
/product_scraper/product_scraper/spiders/Bot/Otc/
/product_scraper/product_scraper/spiders/Bot/data/
/product_scraper/product_scraper/spiders/Bot/+79189644625/
/product_scraper/product_scraper/spiders/Bot/+79645623537/
/product_scraper/product_scraper/spiders/Bot/bot.log
/product_scraper/product_scraper/spiders/Bot/bot.log.1
/product_scraper/product_scraper/spiders/Bot/bot.log.2
/product_scraper/product_scraper/spiders/Bot/bot.log.3
/product_scraper/product_scraper/spiders/Bot/bot.log.4
/product_scraper/product_scraper/spiders/Bot/bot.log.5
/product_scraper/product_scraper/spiders/Bot/bot.log.6
/product_scraper/product_scraper/spiders/Bot/bot.log.7
/product_scraper/product_scraper/spiders/Bot/bot.log.8
/product_scraper/product_scraper/spiders/Bot/bot.log.9
/product_scraper/product_scraper/spiders/Bot/bot.log.10
